!gradle-wrapper.jar
*-local.*
*.class
*.ear
*.iml
*.ipr
*.iws
*.jar
*.orig
*.un~
*.war
*~
.Trash-*
.directory
.gradle
.gradletasknamecache
.idea/
.idea_modules/
.mtj.tmp/
.netrwhist
Session.vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
atlassian-ide-plugin.xml
build/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
db/postgres/jooq/src/generated/
db/postgres/local/
/Dockerfile
gradle-app.setting
gradle/wrapper/gradle-wrapper.properties
hs_err_pid*
out/
rebel.xml
